<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ecb9ad92-99b9-4fde-a9b6-62e04d93d057" name="End2End Automation" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ecb9ad92-99b9-4fde-a9b6-62e04d93d057fileName">End2End-Automation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>